language: python
python:
- 2.7
env:
  matrix:
  - DOCKER_CONTENT_TRUST=0
  global:
  - secure: OThHhevEEPozg6Uo4cVj4rRLJPqQaGiukuBysjuYXYAS6nHlTAIb0Q7KHUOgtzrzKo+DA5a1NKepEyWaH+vpJKOWpoNjXtxi8OLRxj1EgisAmmi4NwrSMHfv760WRbc32xfuC6DM9DNXBO9Mk8CHpd4i2FeU/b+gjVvGCwqVTTXrQtWXEmjk4R1yU9qLggImFEcBCQPdLE7KaXCqURD3q5P1s5pHQDVFYTw3mzHr00lK4FCNr4HuxL7EsqnvWzpFgcgSpYbhlF3INcNIEsdpHne/CuzPYFhLNxB3SMkBkVMSzZsXlHB0ijKyzR4zv377QpoMtQN+kHD5DhcWpA3Ldre8ThHGujMRviC+RC9rTfzwKd8hFJlaRTK4YJDWTmBVkPArGSykYOAVhcnrZNEMuznZ1TVzeC2JV/zEMcDYlBw3jdsSDd37ofGTxrKLZGcF+g233vO2IHMlwROB4ujXheV6SdZS9dDokL9QFDnJq740Q5AKnDrTagaFRpAuuTJk0SGmPqurn7g8Wt531ILLYagm+Vsgj6JQYGk4eMCOiJ8RIAQr3udAOK7pzHhEJGy61M0JYAP1WzVmj8tNUU8+YR6eS0LX0Trt7yi/lcQ/8Bmy2hWqxQoJdb6laCDoy4sKZHSgcVsK/PcFjBh92KMOHk7dYhW05D53mtSXLQ6FMRE=
  - secure: Rdv8VcdKDNkIHHihAnt9nGTZVJKv5X7WgnnHpxrivn4eZawi5pqVcghhjWhsOAeabQJXvd6V1PqDwVkA16+u0AQB2n3U7/EN7pOPrUURsB36KKNA0p0xT5/kPfDRgm//++nmrReF/nXmHGRxxBF6/JqXCCmOyV9ubyMt19BeZQiIEoqLzusdGcFUFewSMBXTv3pa3+eed4kAraRVlPba9YxTcB2/6CLgS02B03cI2iHZpW0BBEhbu2ZR6n8v6NY3Kdm9w9KxHCZTXtlOWEi/o7knxOif4V6j/2gO0H3iMNAxq4yrMijhfmjZC4+Hbu5CPwru/G3yyUssHE4jf8ZCkh3PE0bg5q1LpZ++cYFgYZfR8B7FqHJSQcgQDa4Zc3o1jTYZtCugLyXFfwID3hdC5G332kFFAViedB+zT86LdYB2+IBk2Ce8PrYAwmoYFy/rfwCm9aarP1gvMtg5fMNHIwl9K6SbdtTDq85uvlHp7jKM0/W+17+8HXUInguPgXu2GuicJNpzEYW4oCHY1XCqduLrgC6lE7l9lwq73M8xcgJ4Cn0W8SrGbk65pj1AuTsgFAN2W07fVf+RDhV8AeLIqwS0zPkCBGTPliA+Xv7voctL1/cCyspafQaWGbbeLkzQsvIyRxtpwanFK3oBxqftKDK4cMO2W4iWJX3CFW4ZyU8=
  - secure: JnwXBQH/JJVGaAcNUp/PWTRXbuZ+KkOSDynAavDRg4Sg5mQImgst4AmQebKbcrZHFnC3EQ/d9cCDwg1f5IVrDFnVEoYCc2Yu3VdeDU1Rcj47bKDYVKvb+HFrStYkwMW8l6Vpi4vAVVg4ChnZazWFwzD206oNziD2LHZwXKIzqPJ0V75GISfl7lS25z7zTVgkr1kf3a6raIEu2atN9+/Ocakwc/lYj9GrnJGMWf//YiNuyRJbfbvIDBqoc8TGXK7NhKQfmpZ+um7Vd9ciFV+KnTr3SjCA0OJxCdDMHVR/uKpNcLWXLIg0h5Uk3i2Dnlz6DttMGO7XMEIcCKL260eV/ha3DwbvgfEx25faU/G1AwPKynF+slWuEXnSW31n4SNAJTa92wP1UbOR3dPVI5B6ciQP7OudYZO8zHZm6Zybjm4uGuLfx3rJoW/1QXf07vf9dSX708lUKdSd1mUPLwz9cfgLLVeJmGR3XLxUx14OuSds5+KT1UKkcjmwk2ASV8700F7gZ4Q3rOiTO7bCLnpOYEB5B1f6ULPwXz8LVmaFpZYbx5hP/fwd7byjP6CU2pBjZgWAtyYaySnQ3gSczkRZhujrCj3GJUCq+xTrZO7ID8W1ucisMmmPfkXWgWup3jfKi9JXynH8Lsd2GMMJ+Yzw/CU8ueXn/K2OPMfZ4jFbxXA=
services:
- docker
before_install:
- sudo apt-get update
- docker-compose --version
- pip install docker-compose --upgrade
- docker-compose --version
install:
- cd 5.7
- docker-compose -f docker-compose-build.yml build
- docker-compose -f docker-compose-build.yml up -d
- docker-compose ps
- cd $TRAVIS_BUILD_DIR/5.7/configs/vault
- docker-compose up -d
before_script:
- pip install requests
- pip install docker
- cd $TRAVIS_BUILD_DIR
script:
- bash ./.travis/linters.sh
- docker cp configs/php/env.example web:/var/www/backend/.env
- python tests.py
notifications:
  slack:
    rooms:
    - optimum-team:GycletOWK4Kt95GktwYwfUMp#build
after_success:
- cd 5.7
- echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
- docker-compose -f docker-compose-build.yml images
- docker push trydirect/laravel:5.7
